body{
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera{
    background: #3AA;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.75);
    color: white;
    margin: 0;
    padding: 05em;
}
#cabecera #taglet{
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
}
#container h1{
    font-size: 20px;
}

